.f1logo{
    width:  25%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
}
.logo{
    width:  350px;
    height: 350px;
    object-fit: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
}
.bio{
    color:white;
    font-family: Noto Sans, sans-serif;
    line-height: 1.6;
    text-indent: 50px;
    margin-right: auto;
}
.driver{
    width:  300px;
    height: 300px;
    object-fit: contain;
    float: left;
}
fieldset{
    border: 2px solid white;
    border-radius: 15px;
    font-size: 30px;
    font-family: Noto Sans, sans-serif;
}
legend{
    color: white;
}
.row{
    display:flex;
}
.column{
    flex: 1;
    padding: 5px;
}
.row {
    display: flex;
}
  
.column {
    flex: 33.33%;
    padding: 5px;
}
.bottom_photos{
    width:  200px;
    height: 200px;
    object-fit: contain;
}
.navbar {
    overflow: hidden;
    background-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
} 
.navbar a {
    float: left;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Noto Sans, sans-serif;
}
.dropdown {
    overflow: hidden;
    float: left;
}
.dropdown .dropbtn {
    cursor: pointer;
    font-size: 20px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    font-family: Noto Sans, sans-serif;
}
  .navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
    background-color: #7C99B4;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    background-color: #7C99B4;
  }
.show {
    display: block;
  }
.closed{
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 100px;
}
.navbar input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 20px;
}
.videotext{
    color:white;
    font-family: Noto Sans, sans-serif;
    line-height: 1.6;
    margin: auto;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    background-color: rgba(0,0,0,0.6);
    display: block;
}
