body{
    background: rgb(131,159,237);
    background: linear-gradient(180deg, rgba(131,159,237,1) 0%, rgba(40,47,66,1) 72%);
    }
.logo{
    width: 25%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.bio{
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.6;
    text-indent: 50px;
    margin-right: auto;
}
.max{
    width:  300px;
    height: 300px;
    object-fit: contain;
    float: left;
}
fieldset{
    border: 2px solid white;
    border-radius: 15px;
    font-size: 25px;
}
legend{
    color: white;
}
.row{
    display:flex;
}
.column{
    flex: 1;
    padding: 5px;
}
.row {
    display: flex;
  }
  
.column {
    flex: 33.33%;
    padding: 5px;
  }
.bottom_photos{
    width:  200px;
    height: 200px;
    object-fit: contain;
}